@import "tailwindcss";

.text-purple{
  color:rgb(170, 73, 194);
}
.bg-purple{
  background-color: rgb(170, 73, 194);
}
.text-light-purple{
  color:rgb(235, 92, 235);
}
html, body {
    overflow-x: hidden;
}

button{
    cursor: pointer;
}

.font-dancing{
    font-family: "Dancing Script", cursive;
}
.font-urban{
  font-family: "Urbanist", sans-serif;
}
.font-poppins{
  font-family: "Poppins", sans-serif;
}
.container {
    width: 1250px;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}