@import "tailwindcss";

:root{
  --dark-purple:#7a5cc9;
  --light-purple:#a485f4;
}
.text-purple{
  color:var(--dark-purple);
}
.bg-purple{
  background-color: var(--dark-purple);
}
.text-light-purple{
  color:var(--light-purple);
}
html, body {
    overflow-x: hidden;
}

button{
    cursor: pointer;
}

.custom-button {
  width: 100%;
  font-weight: 600; 
  text-align: center;
  text-transform: uppercase;
  background-color: var(--dark-purple);
  border: 2px solid var(--dark-purple); 
  color: white;
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem;
  border-radius: 1rem; 
  transition: all 0.3s ease;
}

.custom-button:hover {
  background-color: white;
  color: var(--dark-purple); 
}

.font-dancing{
    font-family: "Dancing Script", cursive;
}
.font-urban{
  font-family: "Urbanist", sans-serif;
}
.font-poppins{
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1200px;
  width: 100%;
  /* padding: 4px; */
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;         */
  margin: 0 auto;   
}

@media (max-width: 1024px){
  .container{
    max-width: 900px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 700px;
    /* flex-direction: column;      
    align-items: flex-start;    
    text-align: center; */
  }
}
