@import "tailwindcss";

:root{
  --dark-purple:#7a5cc9;
  --light-purple:#a485f4;
}
.text-purple{
  color:var(--dark-purple);
}
.bg-purple{
  background-color: var(--dark-purple);
}
.text-light-purple{
  color:var(--light-purple);
}
html, body {
    overflow-x: hidden;
    font-family: poppins;
}

.shadow{
  box-shadow: rgba(0, 0, 0, 0.07) 0px 6px 24px 0px, rgba(0, 0, 0, 0.09) 0px 0px 0px 1px;
}
button{
    cursor: pointer;
}

.custom-button {
  width: 100%;
  font-weight: 600; 
  text-align: center;
  text-transform: uppercase;
  background-color: var(--dark-purple);
  border: 2px solid var(--dark-purple); 
  color: white;
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem;
  border-radius: 1rem; 
  transition: all 0.3s ease;
}

.custom-button:hover {
  background-color: white;
  color: var(--dark-purple); 
}

.font-dancing{
    font-family: "Dancing Script", cursive;
}
.font-urban{
  font-family: "Urbanist", sans-serif;
}
.font-poppins{
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem; 
  margin: 0 auto;    
}  

/* Large laptops and smaller desktops */
@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

/* Tablets and small laptops */
@media (max-width: 1024px) {
  .container {
    max-width: 90%; /* Fluid width */
  }
}


@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 0.75rem;  
  }
}
